@import "./themes/generated/variables.base.scss";

body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  background-color: #FFF;
  display: flex;
  height: 100%;
  width: 100%;

  .content {
    line-height: 1.5;
    flex-grow: 1;

    h2 {
      font-size: 30px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .container {
    height: 100%;
    flex-direction: column;
    display: flex;
  }

  .layout-body {
    flex: 1;
    min-height: 0;
  }

  .content-block {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
  }
}

.side-nav-outer-toolbar .dx-drawer {
  height: calc(100% - 56px)
}

.screen-x-small .content-block {
  margin-left: 20px;
  margin-right: 20px;
}

.responsive-paddings {
  padding: 20px;

  .screen-large & {
    padding: 40px;
  }
}

.dx-card.wide-card {
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
  border-right: 0;
  border-left: 0;
}

.with-footer > .dx-scrollable-wrapper >
.dx-scrollable-container > .dx-scrollable-content {
  height: 100%;

  & > .dx-scrollview-content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
}

$side-panel-min-width: 60px;

html, body {
  margin: 0px;
  min-height: 100%;
  height: 100%;
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.breadcrumb{
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 0;
  margin-bottom: 1rem;
  list-style: none;
  border-radius: 0.25rem;
  font-size: 1.2rem;
}

li{
  display: list-item;
  text-align: -webkit-match-parent;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

.breadcrumb-item.active {
  color: $base-text-color;
}

.breadcrumb-item+.breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: $base-text-color;
  text-decoration-line: none;
  content: ">";
}

a {
  color: $base-text-color !important;
  text-decoration: none;
}

#profiletable th{
  padding-top: 20px;
  padding-bottom: 20px;
  outline: 0  ;
}

#profiletable table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

.table-container {
  overflow-x: auto;
}

#profiletable {
  padding-top: 20px;
  padding-bottom: 20px;
  outline: 0;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

#profiletable #header :hover{
  background-color: #f1f1f1;
}

#profiletable #header td{
  color: rgba(0,0,0,.6);
}

#profiletable th,
#profiletable td {
  padding: 14px 16px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#profiletable th:first-child,
#profiletable td:first-child {
  min-width: 150px;
}

.text-center {
  text-align: center !important;
}

.wordcolor{
  color: #4285f4;
}

